<% provide(:title,("About")) %>
<h1>About</h1>
<p>
  Virk Shop is a global online fashion retailer offering thousands of styles across menswear
  so that you can stay ahead of the trends. Shop from our range of items including t-shirts, jeans,
  knitwear, sweats, coats and accessories; if you want it, we're pretty sure we've got it! With loads of
  styles landing each week and regular trend updates you can be sure to get the latest. #weareVirk.
</p>
