<div id="<%= dom_id address %>">
  <p>
    <strong>Address1:</strong>
    <%= address.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= address.address2 %>
  </p>

  <p>
    <strong>User:</strong>
    <%= address.user_id %>
  </p>

</div>
