/* Navigation Bar */
.navbar-item {
  text-decoration: none !important;
}

/* homePageImage */
.homePageImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 60%;
  border: 2px solid;
}
